<!-- Main -->
<div id="main">
    <div class="inner">
        <header>
            <h1>Tech organizations &amp; tools working for social progress.</h1>
        </header>
        <div class="intro">
            <p class="not-a-technologist"><a href="#tools">(Not a technologist? Check out the list of tools you can use today!)</a></p>
            <p>You've probably said it. "I'm a technologist. I know I can work for change the same as everyone—call my senator, donate to the causes that matter, protest. But what can I <em>uniquely</em> do?"</p>
            <p>There are dozens of ways you can get involved; organizations to join, tools to contribute to, and resources to take advantage of. Your favorite missing? <a href="./add">Let us know.</a></p>
        </div>
        <div class="content">
            <hr>

            <div class="page-nav">
                <strong>Sections</strong><br>
                <a href="#orgs">Organizations</a> bringing technologists together<br>
                <a href="#projects">Projects</a> that are open sourced that you can help with<br>
                <a href="#resources">Resources</a> providing support to activists and organizers<br>
                <a href="#data-sources">Data Sources</a> with useful information for activism-focused applications<br>
                <a href="#tools">Tools</a> that are ready to be used today<br>
                <a href="#articles">Articles</a> from other technologists about the challenges in front of us<br>
            </div>

            <hr>

            <br><br>
            <h2 id="orgs" class="section-title">Organizations</h2>
            <p>Organizations that bring technologists together to create new tech projects to work for progress.</p>
            <section class="item-container container--orgs">

            {{#each orgs}}
                <div class="media item" id="org-{{ slug }}">
                    <a href="{{ url }}" class="media-figure">
                        {{#if logo}}
                        <img src="{{ logo }}" alt="{{ name }}" class="item-logo">
                        {{else}}
                        <img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Farrow.png" alt="{{ name }}" class="item-logo">
                        {{/if}}
                    </a>

                    <div class="media-body">
                        <a href="{{ url }}"><h3>{{ name }}</h3></a>
                        <p>{{ description }}</p>
                        {{#if location}}
                        <p>LOCATION: {{ location }}</p>
                        {{/if}}

                        {{#if joinUrl}}
                        <a href="{{ joinUrl }}" class="button small">Join</a>
                        {{else}}
                        <a href="{{ url }}" class="button small">Join</a>
                        {{/if}}
                    </div>
                </div>

                <hr>

              {{/each}}

            </section>

            <br><br>
            <h2 id="projects" class="section-title">Projects</h2>
            <p>Open source projects that technologists can use or contribute to.</p>

            <div class="section-filter-picker">
                Filter projects: <select id="project-skill-picker">
                    <option value="">Show all skills</option>
                </select>
            </div>

            <section class="item-container container--projects">
                {{#each projects}}
                <div class="media item" data-skills="{{ skills }}">
                    <a href="{{ url }}" class="media-figure">
                        {{#if logo}}
                        <img src="{{ logo }}" alt="{{ name }}" class="item-logo">
                        {{else}}
                        <img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Farrow.png" alt="{{ name }}" class="item-logo">
                        {{/if}}
                    </a>

                    <div class="body media-body">
                        <a href="{{ url }}"><h3>{{ name }}</h3></a>
                        <p>{{ description }}</p>
                        {{#if builtByText}}
                        <p>BUILT BY: <a href="{{ builtByUrl }}">{{ builtByText }}</a></p>
                        {{/if}}
                        {{#if skills}}
                        <p>SKILLS NEEDED: {{ skills }}</p>
                        {{/if}}
                    </div>
                </div>

                <!-- @todo: Move the hr into css so we're not doing this awkwardly -->
                <hr data-skills="{{ skills }}">
                {{/each}}
            </section>

            <br><br>
            <h2 id="resources" class="section-title">Resources</h2>
            <p>Services or agencies that provide free support to activists &amp; progressive tech work.</p>
            <section class="item-container container--resources">
            {{#each resources}}
                <div class="media item">
                    <a href="{{ url }}" class="media-figure">
                        {{#if logo}}
                        <img src="{{ logo }}" alt="{{ name }}" class="item-logo">
                        {{else}}
                        <img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Farrow.png" alt="{{ name }}" class="item-logo">
                        {{/if}}
                    </a>

                    <div class="body media-body">
                        <a href="{{ url }}"><h3>{{ name }}</h3></a>
                        <p>{{ description }}</p>
                        {{# if contact}}
                        <p><a href="{{ contact }}">Contact</a></p>
                        {{/if}}
                    </div>
                </div>

                <hr>
            {{/each}}
            </section>

            <br><br>
            <h2 id="data-sources" class="section-title">Data Sources</h2>
            <p>Open sources of data for use in government/activism-focused applications.</p>
            <section class="item-container container--data-sources">
            {{#each dataSources}}
                <div class="media item">
                    <a href="{{ url }}" class="media-figure">
                        {{#if logo}}
                        <img src="{{ logo }}" alt="{{ name }}" class="item-logo">
                        {{else}}
                        <img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Farrow.png" alt="{{ name }}" class="item-logo">
                        {{/if}}
                    </a>

                    <div class="body media-body">
                        <a href="{{ url }}"><h3>{{ name }}</h3></a>
                        <p>{{ description }}</p>
                    </div>
                </div>

                <hr>
            {{/each}}
            </section>

            <br><br>
            <h2 id="tools" class="section-title">Tools</h2>
            <p>Web- or phone-based tools—usable by anyone, powered by tech.</p>

            <div class="section-filter-picker">
                Filter tools: <select id="tool-category-picker">
                    <option value="">Show all categories</option>
                </select>
            </div>

            <section class="item-container container--tools">
            {{#each tools}}
                <div class="media item" data-tool-category="{{ category }}">
                    <a href="{{ url }}" class="media-figure">
                        {{#if logo}}
                        <img src="{{ logo }}" alt="{{ name }}" class="item-logo">
                        {{else}}
                        <img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Farrow.png" alt="{{ name }}" class="item-logo">
                        {{/if}}
                    </a>

                    <div class="media-body">
                        <a href="{{ url }}"><h3>{{ name }}</h3></a>
                        <p>{{ description }}</p>
                        {{#if builtBy}}
                        <p>BUILT BY: <a href="{{ builtBy.url }}">{{ builtBy.text }}</a></p>
                        {{/if}}
                    </div>
                </div>

                <!-- @todo: Move the hr into css so we're not doing this awkwardly -->
                <hr data-tool-category="{{ category }}">
            {{/each}}
            </section>

            <br><br>
            <h2 id="articles" class="section-title">Articles</h2>
            <p>Articles written by other technologists about the "how" and "why" of our resistance.</p>
            <section class="item-container container--articles">

            {{#each articles}}
                <div class="media-body">
                    <a href="{{ url }}"><h3>{{ name }}</h3></a>
                    By: <a href="{{ authorUrl }}">{{ authorName }}</a>
                </div>
            {{/each}}

            </section>

        </div>
    </div>
</div>
